@font-face {
  font-family: 'Nunito';
  src: url(/assets/font/NunitoSans-Regular.woff) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/font/NunitoSans-Bold.woff) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src: url(/assets/font/NunitoSans-Medium.woff) format('truetype');
  font-weight: 500;
}
