$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$BandSite-Black: #323232;
$silver: #afafaf;
$white: #ffffff;
$BandSite-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
$font-stack: Nunito Sans, sans-serif;
