@font-face {
  font-family: "Nunito";
  src: url("/assets/font/NunitoSans-Bold.woff"), url("/assets/font/NunitoSans-Medium.woff"), url("/assets/font/NunitoSans-Regular.woff");
}
html,
body {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  height: 14rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 31.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 37rem;
  }
}
.hero__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.hero__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    left: 24%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    left: 25%;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 68px;
    font-weight: bold 700;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 68px;
    font-weight: bold 700;
  }
}

.about-musician {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .about-musician {
    padding: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician {
    padding: 48px;
  }
}
.about-musician__text {
  text-align: left;
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .about-musician__text {
    padding: 36px 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__text {
    padding: 36px 0;
  }
}
.about-musician__heading {
  margin: 0;
  font-size: 0.875rem;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-musician__heading {
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
  }
}
.about-musician__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .about-musician__image-wrapper {
    width: 80%;
    align-items: center;
    margin-left: 6.5rem;
  }
}
.about-musician__image {
  width: 100%;
  height: 70%;
  border-radius: 0.1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-musician__quote {
  margin: 0;
  padding: 16px 0;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-musician__quote {
    padding: 36px 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__quote {
    padding: 36px 0;
  }
}

.gallery {
  text-align: center;
}
.gallery__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #323232;
  margin-bottom: 1rem;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    gap: 36px;
    padding: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    gap: 36px;
    padding: 48px;
  }
}
.gallery__container .gallery__item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=bio.css.map */