@font-face {
  font-family: "Nunito";
  src: url(/assets/font/NunitoSans-Regular.woff) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src: url(/assets/font/NunitoSans-Bold.woff) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url(/assets/font/NunitoSans-Medium.woff) format("truetype");
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem 2rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 1rem 10rem;
  }
}
.header__title {
  padding: 1rem 0 0.5rem;
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .header__title {
    padding: 1rem 2rem 1rem 0;
  }
}
.header__title-logo {
  width: 120px;
  height: auto;
}
.header__nav {
  width: 100%;
}
.header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8rem;
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    gap: 2rem;
  }
}
.header__nav-item {
  position: relative;
  flex: 1;
  text-align: center;
  min-width: 4rem;
}
.header__nav-item--active::after, .header__nav-item:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__nav-item--active::after, .header__nav-item:hover::after {
    bottom: -0.8rem;
    width: 100%;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 10px 0 0.75rem 0;
  display: block;
  font-family: Nunito Sans, sans-serif;
  line-height: 1.375rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    padding: 1.5rem 0;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-link {
    padding: 2rem 0;
  }
}
.header__nav-link:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header {
    width: auto;
  }
}

.footer {
  background-color: #323232;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.hero {
  position: relative;
  height: 14rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 31.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 36rem;
  }
}
.hero__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.hero__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__text {
  font-family: "Nunito";
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    left: 24%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    left: 26%;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Nunito";
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.about-musician {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .about-musician {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician {
    padding: 48px;
  }
}
.about-musician__text {
  text-align: left;
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .about-musician__text {
    padding: 36px 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__text {
    padding: 38px 0;
  }
}
.about-musician__heading-text {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Nunito";
  font-weight: 700;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-musician__heading-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__heading-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about-musician__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about-musician__image-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__image-wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
.about-musician__quote {
  margin: 0;
  padding: 16px 0;
  text-align: left;
  font-size: 0.875rem;
  font-family: "Nunito";
  line-height: 1.35rem;
  font-weight: 700;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about-musician__quote {
    flex-direction: column;
    padding: 36px 100px;
    width: 100%;
    font-family: "Nunito";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: medium;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__quote {
    padding: 40px 270px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: medium;
  }
}
.about-musician__image {
  width: 100%;
  height: 70%;
  border-radius: 0.1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-musician__description {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .about-musician__description {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-weight: 500;
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician__description {
    display: flex;
    flex-direction: column;
  }
}
.about-musician__description-text {
  font-weight: 400;
  font-size: 0.8125rem;
  font-family: "Nunito";
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .about-musician__description-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .about-musician__info {
    display: flex;
    gap: 15px;
  }
}

.gallery {
  text-align: center;
  margin: 0 auto;
  padding: 16px;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  gap: 16px;
}
.gallery .gallery__item {
  aspect-ratio: 16/9;
  flex: 1 1 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 16px;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .gallery .gallery__item {
    flex: 1 1 30%;
    overflow-y: auto;
  }
}
@media screen and (min-width: 1280px) {
  .gallery .gallery__item {
    margin-bottom: 20px;
    overflow-y: auto;
  }
}

.comment-section {
  max-width: 37rem;
  margin: auto;
  padding: 1rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background: #ffffff;
  border-radius: 8px;
}
.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comment__component {
  display: flex;
  flex-direction: column;
}
.comment__component h3 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}
.comment__component p {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  color: #555;
}

.add-new {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background: #ffffff;
  border-radius: 4px;
}
.add-new .form-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-new label {
  font-size: 0.9rem;
  font-weight: medium;
  color: #afafaf;
}
.add-new input, .add-new textarea {
  width: 80%;
  color: #000000;
  padding: 0.5rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 200;
}
.add-new button {
  padding: 0.75rem;
  background: #323232;
  color: white;
  font-size: 1rem;
  height: 2.5rem;
  width: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add-new .footer {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  padding: 20px;
  font-family: "Nunito";
}
@media screen and (min-width: 768px) {
  .add-new .footer {
    align-items: center;
    text-align: center;
  }
}
.add-new .footer p {
  font-weight: 300;
}
.add-new .footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Nunito";
}
@media screen and (min-width: 768px) {
  .add-new .footer__title {
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .add-new .footer__title {
    padding: 34px;
  }
}
.add-new .footer__socials {
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .add-new .footer__socials {
    margin-top: 35px;
    margin-left: 1.25rem;
    gap: 2.5rem;
  }
}
.add-new .footer__details {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 20px 0;
}
.add-new .footer__details p:nth-child(3),
.add-new .footer__details p:nth-child(6),
.add-new .footer__details p:nth-child(9) {
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .add-new .footer__details {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .add-new .footer__top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .add-new .footer__header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.add-new .footer__logo {
  margin-top: 1.875rem;
  width: 7.5rem;
  height: 1.25rem;
}
.add-new .footer__address-info {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .add-new .footer__address-info {
    flex-direction: column;
  }
}
.add-new .footer__bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 1280px) {
  .add-new .footer__bottom-container {
    flex-direction: column;
  }
}
.add-new .footer__address-detai {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .add-new .footer__address-detai {
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .add-new .footer__address-detai {
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
.add-new .footer__address-first, .add-new .footer__address-second, .add-new .footer__address-third {
  text-align: left;
}
.add-new .footer__address-heading {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Nunito";
}
@media screen and (min-width: 768px) {
  .add-new .footer__address-heading {
    font-size: 1.5rem;
  }
}
.add-new .footer__address-email {
  font-size: 0.875rem;
  font-family: "Nunito";
  font-weight: 400;
}
.add-new .footer__copyright {
  margin-top: 10px;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: "Nunito";
}
@media screen and (min-width: 768px) {
  .add-new .footer__copyright {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=bio.css.map */