@use 'partials/variables' as *;
@use 'partials/mixins' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $BandSite-Black;
  width: 100%;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 2rem;
  }

  @include desktop {
    padding: 1rem 10rem;
  }

  &__title {
    padding: 1rem 0 0.5rem;

    @include tablet {
      padding: 1rem 2rem 1rem 0;
    }

    img {
      width: 120px;
    }
  }
}

.header__nav {
  width: 100%;

  @include tablet {
    width: auto;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8rem;
    display: flex;
    width: 100%;
    @include tablet {
      gap: 2rem;
    }
  }

  &-item {
    position: relative;
    flex: 1;
    text-align: center;
    min-width: 4rem;

    @include tablet {
      flex: none;
    }

    &--active::after,
    &:hover::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $white;

      @include tablet {
        bottom: -14px;
        width: 100%;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: $Mercury;
    font-size: 0.875rem;
    padding: 10px 0 0.75rem 0;
    display: block;

    &:hover {
      color: $white;
    }

    @include tablet {
      padding: 1.5rem 0;
      white-space: nowrap;
    }
  }
}
