@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/global' as *;
@use 'partials/typography' as *;
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.hero {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 40px;
    color:$white;
    overflow: hidden;
.title-container{
display: flex;
flex-direction: column;
align-items: flex-start;

width: 100%;

}
    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: flex;
      @include tablet{
        height: 52.25rem;
      }
      @include desktop{
        height: 56.26rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $BandSite-Black;
        opacity: 0.5;
        z-index: 1;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &__content {
      max-width: 53.125rem;
      width: 100%;
      position: relative;
      z-index: 2;
      display: block;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      @include tablet{
        font-size: 3.75rem;
      }
      @include desktop{
        font-size: 3.75rem;
      }
    }

    &__subtitle {
      font-size: 36px;
      font-weight: bold;
    }

    &__music {
      width: 100%;
      max-width: 50rem;
      border-radius: .625rem;
      display: block;
      margin-top: 1.25rem;
    }
  }
  .shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    width: 100%;

    &__table {
        width: 100%;
        max-width: 53.125rem;
    }

    &__title {
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
    }

    &__header {
        display: none;
        color: $silver;
        font-weight: 400;

        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__header-item {
        flex-grow: 1;
        text-align: left;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__row {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        border-bottom: 1px solid $Mercury;

        @include tablet {
            flex-direction: row;
            align-items: center;

            &:hover {
                background-color: $Alabaster;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;

        @include tablet {
            flex-direction: row;
            gap: 1rem;
        }
    }

    &__label {
        color: $silver;
        font-size: 0.875rem;

        @include tablet {
            display: none;
        }
    }

    &__info {
        font-weight: 600;
    }

    &__button {
        background-color: $BandSite-Black;
        color: white;
        border: none;
        padding: 0.625rem 0.9375rem;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin-top: 1rem;
        width: 100%;

        @include tablet {
            margin-top: 0;
            width: auto;
        }

        &:hover {
            background-color: darken($BandSite-Black, 10%);
        }
    }
}
